.functionalities-section {
  background-color: #f9fafc;
  text-align: center;
  
}

.titulo {
  margin-bottom: 3rem;
}

.titulo h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 1rem;
}

.titulo p {
  color: #6b7280;
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
}

.card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 2rem 1.5rem;
  width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 auto 1rem;
  border-radius: 50%;
  background-color: #e5e7eb;
}

.icon-container img {
  width: 30px;
  height: 30px;
}

/* Colores personalizados */
.icon-container.green {
  background-color: #dcfce7;
}

.icon-container.blue {
  background-color: #dbeafe;
}

.icon-container.purple {
  background-color: #ede9fe;
}
.icon-container.yellow {
  background-color: #b2d93b;
}
.icon-container.pink {
  background-color: #c38ace;
}

.card h2 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #111827;
  margin-bottom: 0.8rem;
}

.card p {
  color: #6b7280;
  font-size: 0.95rem;
  line-height: 1.5;
}

/* Responsividad */
@media (max-width: 900px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: 350px;
  }
}