/* src/styles/globals.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f7f7f7;
}

a {
  text-decoration: none;
  color: inherit;
}
